/* Add additional stylesheets below
-------------------------------------------------- */

.battleGridFlex{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}

.setupWindow2 {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#shipContainer {
    width: 120%;
    border-style: solid;
    border-width: 2px;
}

#place_minesweeper{
    width: 44%;
}

#place_destroyer {
    width: 66%;
}

#place_battleship {
   width: 88%;
}

#place_minesweeper_v{
    height: 44%;
}

#place_destroyer_v {
    height: 66%;
}

#place_battleship_v {
   height: 88%;
}

#shipBank {
    text-align: left;
}

.disabled {
    background-color: black;
    cursor: not-allowed;
}

button:focus {
    outline: none;
    background-color: grey;
}

.disabled:focus {
    background-color: black;
}

button {
    border: 2px solid black;
    background-color: white;
    text-align: left;
    text-decoration: none;
    padding: 7px 0px;
    margin: 7px 0px 7px 7px;
}

.vertical {
    width: 40px;
}
.horizontal {
    height: 40px;
}
#verticalContainer {
    height: 140px;
}

.battleGridContainer{
    width: 100%;
    height: 100%;
}

.battleLogContainer{
    text-align: center;
    margin: auto
}
.battleLogTitle{
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
}
.battleLogText{
    height: 300px;
    min-width: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
    border: 1px solid black;
}

.setupContainer{
    width: 300px;
    padding-right: 15%;
    height: 100%;
    margin: auto;
}

.battleGrid {
    margin-left:auto;
    margin-right:auto;
    width: 60%;
    max-width: calc(500px);
}

.battleGrid td {
    border: 1px solid black;
    width: 9%;
    position: relative;
}

.battleGrid td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.battleGrid td.identifier{
    border: 0px solid black;
}

.battleGrid td div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.battleGrid td div.identifier{
    height: 100%;
    margin-top: calc(50% - 10px);
    font-size: 18px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

h2{
    font-size: 18px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 4.5%;
}

td:hover {
    background-color: gray;
}

td.identifier:hover{
    background-color: transparent;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
    -webkit-filter: grayscale(30%); /* Safari */
    filter: grayscale(30%);
}

.sink {
    background-color: red;
    -webkit-filter: grayscale(30%); /* Safari */
    filter: grayscale(30%);
}

.miss {
    background-color: blue;
    -webkit-filter: grayscale(70%); /* Safari */
    filter: grayscale(70%);
}

h1 {
    text-align: center;
}

.lastPlaced{
    -webkit-filter: saturate(500%); /* Safari */
    filter: saturate(500%);
}
.lastLastPlaced{
    -webkit-filter: saturate(500%); /* Safari */
    filter: saturate(500%);
}