/* Add additional stylesheets below
-------------------------------------------------- */

.battleGridFlex{
    display: flex;
    align-content: center;
    justify-content: space-around;
    width: 100%;
     height: 100%;
}

.battleGridContainer{
    width: 100%;
    height: 100%;
}

.battleGrid {
    margin-left:auto;
    margin-right:auto;
    width: 60%;
}

.battleGrid td {
    border: 1px solid black;
    width: 9%;
    position: relative;
}

.battleGrid td:after {
  content: '';
  display: block;
  margin-top: 100%;
}

.battleGrid td.identifier{
    border: 0px solid black;
}

.battleGrid td div{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.battleGrid td div.identifier{
    height: 100%;
    margin-top: calc(50% - 10px);
    font-size: 18px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
}

h2{
    font-size: 18px;
    text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    padding-left: 4.5%;
}

td:hover {
    background-color: gray;
}

td.identifier:hover{
    background-color: transparent;  
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: black;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}