<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<h1>The Battleship game</h1>

<div class="battleGridFlex">
    <div class="battleGridContainer">
        <h2>Opponent's Board</h2>
        <table id="opponent" class="battleGrid">
        </table>
    </div>
    <div class="battleGridContainer">
        <h2>Your Board</h2>
        <table id="player" class="battleGrid">
        </table>
    </div>
</div>


<ul>
    <li><button id="place_minesweeper">Place Minesweeper</button></li>
    <li><button id="place_destroyer">Place Destroyer</button></li>
    <li><button id="place_battleship">Place Battleship</button></li>
    <li><input type="checkbox" id="is_vertical">Vertical</input></li>
</ul>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>